
footer {
    background: rgb(12, 0, 0);
    color: #aaa;
    overflow: hidden;
   
  
    
  }
  
  footer a {
    color: #aaa;
  }
  
  footer a:hover {
    color: #fff;
  }
  
  footer h3 {
   color: #0894d1;
    letter-spacing: 1px;
    margin: 30px 0 20px;
  }
  
  footer .three-column {
   overflow: hidden;
  }
  
  footer .three-column li{
   width: 33.3333%;
    float: left;
    padding: 5px 0;
  }
  
  footer .socila-list {
    overflow: hidden;
    margin: 20px 0 10px;
  }
  
  footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  footer .socila-list li:hover {
    opacity: 1;
  }
  
  footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
  }
  
  footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
  }
  
  footer .copyright span {
    color: #0894d1;
  }

 
  .logoh{
    margin-top:1% ;
    margin-right:30%;
    width: 40%;
  }

  .title{
    color: rgb(125, 125, 151);
  }
  .icon{
    color: chartreuse;
  }

  .social-media {
   
    margin-top: 15px; }

    .social-media ul li {
      display: inline-block; }

    .social-media ul li i{
      margin-left: 10px; }

.social-media ul li a {
      display: inline-block;
      width: 45px;
      height: 45px;
      margin-left: 10px;
      line-height: 45px;
      border-radius: 60%;
      font-size: 20px;
      color: #b78c33;
      border: 3px solid rgba(255, 255, 255, 0.3); }
      
.social-media ul li a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33; }

  .copyright{
    color: #b78c33;

  }